<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..\user.js"></script>
</head>
<body>
    <div><%= locals.failMessageSignup || '' %></div>
    <form id="loginForm" action="/crearUsuario" method="POST">
        <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" value="<%= locals.username || '' %>">
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo" value="<%= locals.email || ''%>">
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" value="<%= locals.password || ''%>">
        <button type="submit">Crear cuenta</button>
    </form>
    <button id="showPasswordButton" onclick="showPassword()" >Mostrar contraseña</button>
</body>
</html>