<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Ecommerce</title>
    <script src="..\user.js"></script>
    <style>
       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }

 /* Estilos barra de navegación */
 header nav {
            background-color: #232f3e; 
            padding: 10px 0;
            border-bottom: 1px solid #c7c7c7; 
        }
        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header nav ul li {
            display: inline-block;
            margin-right: 100px;
        }
        header nav ul li:last-child {
            margin-right: 0;
        }
        header nav ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            transition: color 0.3s; 
        }
        header nav ul li a:hover {
            color: #ffd700; 
        }
        header nav .search-box {
            border: 1px solid #c7c7c7; 
            padding: 5px 10px;
            border-radius: 20px;
            margin-right: 20px;
            background-color: #fff; 
            color: #333;
            font-size: 14px;
            width: 200px;
        }
        header nav .search-box::placeholder {
            color: #999;
        }

        article {
            margin: 0px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            max-width: 800px;
        }

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px auto;
    max-width: 900px;
}

.payment-summary {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-summary h2 {
    margin-top: 0;
}

.product {
    display: flex;
    margin-bottom: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.details {
    flex: 1;
}

.total {
    text-align: right;
}

.payment-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
    margin-top: 0;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.payment-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-form button:hover {
    background-color: #e68a00;
}

button {
    background-color: #f0c14b; /* Color de fondo del botón */
    border: none;
    color: #111; 
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #ddb347; /* Cambia el color de fondo al pasar el ratón por encima */
}
@media only screen and (max-width: 600px) {
            header nav ul li {
                margin-right: 10px;
            }
            header nav .search-box {
                width: 150px;
            }
            .product {
                width: 100%;
                margin-bottom: 20px;
            }
        }

    </style>
</head>
<body>
    <header>
        <nav class="BarraNavegacion">
            <ul>
                <li><a href="/home" >Express Ecommerce</a></li>
                <li>
                    <form id="searchForm" method="post">
                        <input id="searchInput" type="text" class="search-box" placeholder="Buscar" list="productos">
                        <datalist id="productos">
                            <option value="Laptop HP Gaming" data-number="1">
                            <option value="Auto" data-number="2">
                            <option value="Tablet Apple" data-number="3">
                            <option value="Camara Canon" data-number="4">
                            <option value="Consola de videojuegos" data-number="5">
                            <option value="Ropa" data-number="6">
                            <option value="Funda laptop" data-number="7">
                            <option value="Cartera" data-number="8">
                            <option value="Cuadernos" data-number="9">
                            <option value="Toma todo" data-number="10">
                            <option value="Celular" data-number="11">
                            <option value="Tenis" data-number="12">
                            <option value="Televisor" data-number="13">
                            <option value="Audiculares" data-number="14">
                            <option value="Labiales" data-number="15">
                            <option value="Videojuego" data-number="16">
                            <option value="Sofa" data-number="17">
                        </datalist>
                        <button id="searchButton" type="submit">Buscar</button>
                    </form>
                </li>
                <li><a href="home/perfil" id="perfil" >Perfil</a></li>
                <li><a href="home/carrito" id="carrito" >Carrito</a></li>
            </ul>
        </nav>
    </header>
    <article>
    <div class="container">
        <div id="pagoSummary" class="payment-summary">
            <h2>Resumen del Pedido</h2>
            <% for (let i = 0; i < productosSelected.length; i++) {  %>
            <div class="product">
                <img src="<%= productosSelected[i].imagen_ruta %>" alt="Product 1">
                <div class="details">
                    <h3><%= productosSelected[i].producto_nombre %></h3>
                    <p>$<%= productosSelected[i].precio %></p>
                </div>
            </div>
            <% } %>        
            <div class="total">
                <h3>Total:</h3>
                <p>$<%= precioTotal  %></p>
            </div>
        </div>
        <form id="pagoForm" class="payment-form">
            <h2>Información de Pago</h2>
            <input type="text" placeholder="Nombre en la Tarjeta" required>
            <input type="text" placeholder="Número de Tarjeta" required>
            <input type="text" placeholder="Fecha de Vencimiento (MM/YY)" required>
            <input type="text" placeholder="Código de Seguridad" required>
            <button type="submit">Pagar Ahora</button>
        </form>
        
    </div>
    <div id="confirmacion" style="display: none">
        <h2>Pago Exitoso</h2>
        <p>¡Gracias por tu compra! Tu pago se ha procesado con éxito.</p>
        <form id="postGenerator" method="post" action="/home">
            <button id="volverButton" type="">Volver al inicio</button>
        </form>
    </div>
</article>
</body>
</html>
