<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..\user.js"></script>
    <title>1ra Pagina</title>
</head>

<style>
    /* Estilos para la barra de navegación */
    nav {
        background-color: #333;
        padding: 10px 0;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav ul li {
        display: inline-block;
        margin-right: 100px;
    }
    nav ul li:last-child {
        margin-right: 0;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    nav .search-box {
        border: 2px solid #fff;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 20px;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
    }
    nav .search-box::placeholder {
        color: #ccc;
    }

    /* Estilos para el contenido */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        justify-content: center;
        max-width: 800px;
    }
</style>


<body>
    <nav>
        <ul>
            <li><a href="#" onclick="onHome()">TecnologiA</a></li>
            <li>
                <input type="text" class="search-box" placeholder="Buscar">
            </li>
            <li><a href="#" onclick="goPerfil()">Perfil</a></li>
            <li><a href="#" onclick="goCarrito()">Carrito</a></li>
        </ul>
    </nav>

    <div class="datosPerfil">
        <article>
            <h1>Bienvenido</h1>
            <h3><img src="imagenes/fotoPrueba.png" alt=""></h3>
        </article>
        <aside>
            <b>Nombres:</b><p>Nombre del Usuario</p>
            <b>Apellidos:</b><p>Apellido del Usuario</p>
            <b>Email:</b><p>email del Usuario</p>
            <b>País:</b><p>Pais del Usuario</p>
            <b>Metodo de pago:</b><p>Metodo de Pago del Usuario</p>
            <b>Compras realizadas:</b><p>Comparas del Usuario</p>
        </aside>
    </div>
</body>
</html>
